<a href="https://colab.research.google.com/github/RudraPratapSinghBisht/PYTHON-SEM-II/blob/main/Inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee:
    def __init__(self,name,id):
        self.n=name
        self.i=id
    def display(self):
        print(f"the name of employee:P{self.n}has id:{self.i}")
  self.i=id
  def display(self):
    print(f"the name of employee:P{self.n}has id:(self.i)")
    class Manager(Employee):
      def show_details(self)
      print("I an inside Manager Class")
      m1 = Manager("Rudra",590016590)
      m1.display()
      m1.show_details()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
class Employee:
    def __init__(self,name,id):
        self.n=name
        self.i=id
    def display(self):
        print(f"the name of employee:P{self.n}has id:{self.i}")

class Manager(Employee):
    def show_details(self):
        print("I an inside Manager")

In [ ]:
Class Manager(Employee)

In [ ]:
class ParentClass:
    parent_attribute = "Parent Data"

class ChildClass(ParentClass):
    child_attribute = "Child Specific Data"

# Example usage:
parent_obj = ParentClass()
print(f"Parent attribute: {parent_obj.parent_attribute}")

print("-" * 20)

child_obj = ChildClass()
print(f"Parent attribute from child: {child_obj.parent_attribute}")
print(f"Child attribute: {child_obj.child_attribute}")

Parent attribute: Parent Data
--------------------
Parent attribute from child: Parent Data
Child attribute: Child Specific Data

In [4]:
class Animal:
    def eat(self):
        print("I eat anything")
class dog(Animal):
    pass
AN = Animal()
AN.eat()
class Animal:
    def eat(self):
        print("I eat anything")
class dog(Animal):
    pass
AN = Animal()
AN.eat()
D = dog()
D.eat()
class dog(Animal):
    pass
AN = Animal()
AN.eat()
D = dog()
D.eat()
AN.eat()
D = dog()
D.eat()

I eat anything
I eat anything
I eat anything
I eat anything
I eat anything
I eat anything
I eat anything

In [10]:
#Multiple Inheritance
class person:
  name = "Rudra"
  def__init__(self,name):
    self.name = name
  def property(self):
    print("my property is worth 1 cr")
class Employee(person):
    def dress_code(self):
        print("I don't Care!!")
    def dress_code(self):

class HR(person,Employee):
     def salary(self):
      print("the salary is negotiable")
H1 = HR()
H1.property()
H1.dress_code()
H1.salary()
      H1.property()
      H1.dress_code()
      H1.salary()

IndentationError: expected an indented block after function definition on line 9 (<ipython-input-10-96a212bd7252>, line 11)

In [13]:
class person:
  name = "Rudra"
  def property(self):
    print("my property is worth 1 cr")
class Employee(person):
    def dress_code(self):
        print("I don't Care!!")
    def dress_code(self):
        print("My dress code is formal")

class HR(Employee):
    def salary(self):
      print("the salary is negotiable")
H1 = HR()
H1.property()
H1.dress_code()
H1.salary()

my property is worth 1 cr
My dress code is formal
the salary is negotiable

In [19]:
#Polymorplism
a = 2
b = 3
c = a+b
print(c)
S1 = "Python"
S2 = "Programming"
S3 = S1+S2
print(S3)
len(S1)
len(["Welcome,""Python"])
len({"Name" : "Rudra", "Sapid": 590016590})

5
PythonProgramming

2