<a href="https://colab.research.google.com/github/RudraPratapSinghBisht/PYTHON-SEM-II/blob/main/Self1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print(335+34)
print("rudra")

369
rudra

In [10]:
name = "Rudra"
age = 23
prime = 16
print(name)
print("name")
print(age)
print("My Name is ",name)
print(prime)

Rudra
name
23
My Name is  Rudra
16

In [11]:
age=14
age2=age
print(age2)

14

In [13]:
name = "Rudra"
age = 23
prime = 16.25
print(type(name))
print(type(age))
print(type(prime))
print(prime)

<class 'str'>
<class 'int'>
<class 'float'>
16.25

In [14]:
name1 = 'rudra'
name2 = "rudra"
name3 = '''rudra'''
print(name1)
print(name2)
print(name3)

rudra
rudra
rudra

In [17]:
age = 34
old = False
a = None
print(type(age))
print(type(old))
print(type(a))
print("2 is my Favourite")
print(89)
print(87-23)

<class 'int'>
<class 'bool'>
<class 'NoneType'>
2 is my Favourite
89
64

In [20]:
a = 23
b = 5
sum = a+b
max = a-b
print(sum)
print(28+5)
print(max)

28
33
18

In [22]:
#arithemetic operators
a = 4
b = 43
print(a-b)
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)#remaider
print(a**b)#a^b

-39
47
172
0.09302325581395349
0
4
77371252455336267181195264

In [24]:
#relation/comparison operators
a = 50
b = 13
print(a==b)
print(a !=b)
print(a>=b)
print(a<=b)

False
True
True
False

In [27]:
#assignment operators
num = 10
num = num + 10
num += 10   # same meaning as above
print("num",num)
num *= 5
num /= 2
print(num)

num 30
75.0

In [34]:
#logical operators
a =  50
b = 56
print(not False)
print(not True)
print(not(a>b))
val1 = True
val2 = True
print(val1 and val2)
print(val1 or val2)
val3 = True
val4 = False
print(val3 and val4)
print(val3 or val4)
print(a==b) or (a>b)

True
False
True
True
True
False
True
False

False

In [38]:
#type conversion
a = 2
b = 4.234
sum = a + b
print(sum)
a = float("34")
print(type(a))
c = float("31")
d = float("24")
print(c+d)

6.234
<class 'float'>
55.0

In [56]:
#inputs
input("enter your name ")

enter your name rudra

'rudra'

In [78]:
side = float(input("enter square side "))

enter square side 4